.siderbarContainer{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    width: 30%;
}

.coinDescription{
    height:20vh;
    overflow:hidden;
}
.coinDescriptio:hover{
    height: 100vh;
    background: #000;
}